<html>
<%= render html: "<h1>Invite people</h1>".html_safe %>

<b>Testing</b>

<%= render html: "<br><br>Here we are again!".html_safe %>

<% #User.invite!(email: "hersheybenjamin@gmail.com", name: "Benji H") %>
    
</html>


